@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-slide-in: slide-in 0.2s ease-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
